<a href="https://colab.research.google.com/github/amurkhon/MachineLearning-projects/blob/main/my_first_MODEL.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import sklearn

In [ ]:
URL = "https://raw.githubusercontent.com/anvarnarz/praktikum_datasets/main/housing_data_08-02-2021.csv"
df = pd.read_csv(URL)
df.head()

,location,district,rooms,size,level,max_levels,price
0,"город Ташкент, Юнусабадский район, Юнусабад 8-...",Юнусабадский,3,57,4,4,52000
1,"город Ташкент, Яккасарайский район, 1-й тупик ...",Яккасарайский,2,52,4,5,56000
2,"город Ташкент, Чиланзарский район, Чиланзар 2-...",Чиланзарский,2,42,4,4,37000
3,"город Ташкент, Чиланзарский район, Чиланзар 9-...",Чиланзарский,3,65,1,4,49500
4,"город Ташкент, Чиланзарский район, площадь Актепа",Чиланзарский,3,70,3,5,55000

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7565 entries, 0 to 7564
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   location    7565 non-null   object
 1   district    7565 non-null   object
 2   rooms       7565 non-null   int64
 3   size        7565 non-null   object
 4   level       7565 non-null   int64
 5   max_levels  7565 non-null   int64
 6   price       7565 non-null   object
dtypes: int64(3), object(4)
memory usage: 413.8+ KB

In [ ]:
df.replace(['Договорная','Площадьземли:1сот'],[np.NaN,np.NaN], inplace=True)

In [ ]:
df['price']=df['price'].astype(float)

In [ ]:
df['size']=df['size'].astype(float)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7565 entries, 0 to 7564
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   location    7565 non-null   object
 1   district    7565 non-null   object
 2   rooms       7565 non-null   int64
 3   size        7564 non-null   float64
 4   level       7565 non-null   int64
 5   max_levels  7565 non-null   int64
 6   price       7466 non-null   float64
dtypes: float64(2), int64(3), object(2)
memory usage: 413.8+ KB

In [ ]:
df[df['size']<10]

,location,district,rooms,size,level,max_levels,price
796,"город Ташкент, Яккасарайский район, 1-й проезд...",Яккасарайский,2,5.0,1,4,50000.0
1588,"город Ташкент, Янгихаётский район, Yangi hayot...",Янгихаётский,5,1.0,6,9,45000.0
2147,"город Ташкент, Учтепинский район, Куксарой",Учтепинский,8,8.5,2,2,230000.0
2363,"город Ташкент, Мирабадский район, Nurli zamin ...",Мирабадский,4,3.0,1,1,50000.0
4053,"город Ташкент, Мирзо-Улугбекский район, Элобод",Мирзо-Улугбекский,2,4.0,1,3,26000.0
4337,"город Ташкент, Мирабадский район, Нукус",Мирабадский,3,5.0,4,5,46600.0
4690,"город Ташкент, Мирабадский район, 1-й проезд Х...",Мирабадский,5,3.8,2,2,90000.0
5496,"город Ташкент, Учтепинский район, Чиланзар 25-...",Учтепинский,2,1.0,2,5,35000.0

In [ ]:
df.describe()

             rooms          size        level   max_levels         price
count  7565.000000   7564.000000  7565.000000  7565.000000  7.466000e+03
mean      2.625644    113.268990     3.699273     6.038202  7.133421e+04
std       1.085201   1491.312092     2.237275     2.613271  6.405237e+05
min       1.000000      1.000000     1.000000     1.000000  2.000000e+00
25%       2.000000     50.000000     2.000000     4.000000  3.500000e+04
50%       3.000000     66.000000     3.000000     5.000000  4.650000e+04
75%       3.000000     86.000000     5.000000     9.000000  6.700000e+04
max      10.000000  70000.000000    19.000000    25.000000  5.200000e+07

In [ ]:
df = df[df['price']>10000]

In [ ]:
df = df[df['price']<200000]

In [ ]:
df = df.drop('location', axis=1)

In [ ]:
df.shape

(7279, 6)

In [ ]:
df.isnull().sum()

district      0
rooms         0
size          1
level         0
max_levels    0
price         0
dtype: int64

In [ ]:
from sklearn.model_selection import train_test_split
train_set, test_set = train_test_split(df, test_size=0.2, random_state=42)

x_train = df.drop('price', axis=1)
y = df['price'].copy()

x_num =x_train.drop('district', axis=1)

In [ ]:
x_train

               district  rooms  size  level  max_levels
0          Юнусабадский      3  57.0      4           4
1         Яккасарайский      2  52.0      4           5
2          Чиланзарский      2  42.0      4           4
3          Чиланзарский      3  65.0      1           4
4          Чиланзарский      3  70.0      3           5
...                 ...    ...   ...    ...         ...
7560        Яшнободский      1  38.0      5           5
7561        Яшнободский      2  49.0      1           4
7562    Шайхантахурский      2  64.0      3           9
7563  Мирзо-Улугбекский      1  18.0      1           4
7564       Чиланзарский      1  30.0      2           4

[7279 rows x 5 columns]

In [ ]:
from sklearn.base import BaseEstimator, TransformerMixin
# bizga kerak ustunlar indekslari
rooms_ix, size_ix, level_ix, max_levels_ix = 0, 1, 2, 3

class CombinedAttributesAdder(BaseEstimator, TransformerMixin):
    def __init__(self, add_rooms_per_level = True):
        self.add_rooms_per_level = add_rooms_per_level
    def fit(self, X, y=None):
        return self # bizni funksiyamiz faqat transformer. estimator emas
    def transform(self, X):
        max_levles_per_rooms = X[:, rooms_ix] / X[:, max_levels_ix]
        level_per_max_levels = X[:, level_ix] / X[:, max_levels_ix]
        if self.add_rooms_per_level: # add_bedrooms_per_room ustuni ixtiyoriy bo'ladi
            rooms_per_level = X[:, rooms_ix] / X[:, level_ix]
            return np.c_[X, max_levles_per_rooms, level_per_max_levels,rooms_per_level ]
        else:
            return np.c_[X, max_levles_per_rooms, level_per_max_levels]

In [ ]:
from sklearn.pipeline import Pipeline
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OneHotEncoder, StandardScaler

num_pipeline = Pipeline([
                         ('imputer',SimpleImputer(strategy='mean')),
                         ('attribs_adder', CombinedAttributesAdder(add_rooms_per_level = True)),
                         ('std_scaler', StandardScaler())
])

In [ ]:
from sklearn.compose import ColumnTransformer
 
num_attr = list(x_num)
cat_attr = ['district']

full_pipeline = ColumnTransformer([
                           ('num',num_pipeline,num_attr),
                           ('cat',OneHotEncoder(), cat_attr)
])

In [ ]:
x_prepared = full_pipeline.fit_transform(x_train)

In [ ]:
from sklearn.linear_model import LinearRegression
LR_model = LinearRegression()

In [ ]:
LR_model.fit(x_prepared,y)

LinearRegression()

In [ ]:
x_test = test_set.drop('price', axis=1)
x_test

               district  rooms  size  level  max_levels
3841        Яшнободский      3  86.0      5           9
5667  Мирзо-Улугбекский      3  80.0      6           7
4664        Яшнободский      2  55.0      2           5
4526       Юнусабадский      4  90.0      4           5
4050        Мирабадский      2  65.0      8           9
...                 ...    ...   ...    ...         ...
2981        Мирабадский      1  40.0      3           4
334   Мирзо-Улугбекский      4  92.0      3           5
2286  Мирзо-Улугбекский      1  31.0      2           3
295        Чиланзарский      2  42.0      3           4
7113        Учтепинский      2  58.0      4           5

[1456 rows x 5 columns]

In [ ]:
y_test = test_set['price'].copy()
y_test

3841    75000.0
5667    75000.0
4664    30800.0
4526    56000.0
4050    52000.0
         ...
2981    59500.0
334     62000.0
2286    20000.0
295     36500.0
7113    33000.0
Name: price, Length: 1456, dtype: float64

In [ ]:
x_test_prepared = full_pipeline.fit_transform(x_test)

In [ ]:
y_predicted = LR_model.predict(x_test_prepared)

In [ ]:
from sklearn.metrics import mean_squared_error
lin_mse = mean_squared_error(y_test, y_predicted)
# RMSE hisoblaymiz
lin_rmse = np.sqrt(lin_mse)
print(lin_rmse)

19615.048141993153

In [ ]:
from sklearn.tree import DecisionTreeRegressor
Tree_model = DecisionTreeRegressor()
Tree_model.fit(x_prepared, y)

DecisionTreeRegressor()

In [ ]:
y_predicted = Tree_model.predict(x_test_prepared)

In [ ]:
from sklearn.metrics import mean_squared_error
lin_mse = mean_squared_error(y_test, y_predicted)
# RMSE hisoblaymiz
lin_rmse = np.sqrt(lin_mse)
print(lin_rmse)

22330.579140851445

In [ ]:
from sklearn.ensemble import RandomForestRegressor
RF_model = RandomForestRegressor()

RF_model.fit(x_prepared,y)

RandomForestRegressor()

In [ ]:
y_predicted = RF_model.predict(x_test_prepared)

In [ ]:
from sklearn.metrics import mean_squared_error
ran_mse = mean_squared_error(y_test,y_predicted)
#RMSE hisoblaymiz
ran_rmse = np.sqrt(ran_mse)
print(ran_rmse)

19564.155069382472

In [ ]:
x = df.drop('price', axis=1)
y = df['price'].copy()

x_prepared = full_pipeline.fit_transform(x)

In [ ]:
def display_scores(scores):
    print("Scores:", scores)
    print("Mean:", scores.mean())
    print("Std.dev:", scores.std())

In [ ]:
from sklearn.model_selection import cross_val_score
scores = cross_val_score(RF_model, x_prepared, y, scoring="neg_mean_squared_error", cv=10)
LR_rmse_scores = np.sqrt(-scores)

In [ ]:
display_scores(LR_rmse_scores)

Scores: [11952.61500217 13351.24238258 16506.9454008  17280.6593252
 15831.46527891 15187.97676113 13916.26465549 13269.72028381
 14581.65121345 13348.63066392]
Mean: 14522.717096745084
Std.dev: 1581.0222978980794